<div class="col-md-3">
    <div class="card shadow-sm mb-3">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{name}}
                {{#level}}
                <span class="badge badge-primary">LvL {{.}}</span>
                {{/level}}
                <span class="badge badge-secondary">Id {{id}}</span>
            </h4>
        </div>
        {{#sprites}}
        <img class="card-img-top" src="{{front_default}}" alt="Pokemon"/>
        <img class="card-img-top" src="{{back_default}}" alt="Pokemon"/>
        {{/sprites}}

        {{#stats}}
        <div class="card-body">
            <span class="badge badge-primary">Speed : {{speed}}</span>
            <span class="badge badge-primary">Attack : {{attack}}</span>
            <span class="badge badge-primary">Defense : {{defense}}</span>
            <span class="badge badge-primary">HP : {{hp}}</span>
        </div>
        {{/stats}}
        <div class="card-body">
            <h5>Types:</h5>
            {{#types}}
            <span class="badge badge-secondary">{{.}}</span>
            {{/types}}
        </div>
    </div>
</div>